$blue: #0d6efd;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #4e3bc8;
$secondary: #e1f339;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
$red-orange: #ff4b22;
$silver: #cdcdcd;
$gray-light: #dedede;
